.dashboard {
  .page-title {
    text-align: left;
    margin-bottom: 20px;
  }

  .header-wrapper {
    background: #fff;
  }

  .ant-menu {
    background: none;
    border: unset;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    li:nth-child(2) {
      margin-left: 0;
      padding-left: 0;
    }
  }

  .ant-menu-horizontal {
    line-height: normal;
  }
}
