.dashboard {
  .page-title {
    text-align: left;
    margin-bottom: 20px;
  }

  .header-wrapper {
    background: #fff;
  }

  .ant-menu {
    background: none;
    border: unset;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .ant-menu-horizontal {
    line-height: normal;
  }
}
