@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Nunito+Sans:ital,wght@0,800;1,400&display=swap");

// font-family: 'Montserrat', sans-serif;
// font-family: 'Nunito Sans', sans-serif;
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f4f6fa;
  font-family: "Montserrat", sans-serif;
  text-rendering: optimizeLegibility;
  font-size: 1rem;
  line-height: 1.2rem;
}

a {
  color: #e73854;

  &:hover {
    color: #e73854;
    text-decoration: underline;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/** PRELOADER **/
.loader {
  animation: rotate 1.5s infinite;
  height: 50px;
  width: 50px;
}

.loader:before,
.loader:after {
  border-radius: 50%;
  content: "";
  display: block;
  height: 20px;
  width: 20px;
}
.loader:before {
  animation: ball1 1.5s infinite;
  background-color: #fff;
  box-shadow: 30px 0 0 #fff;
  margin-bottom: 10px;
}
.loader:after {
  animation: ball2 1.5s infinite;
  background-color: #e73854;
  box-shadow: 30px 0 0 #e73854;
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg) scale(0.8);
    -moz-transform: rotate(0deg) scale(0.8);
  }
  50% {
    -webkit-transform: rotate(360deg) scale(1.2);
    -moz-transform: rotate(360deg) scale(1.2);
  }
  100% {
    -webkit-transform: rotate(720deg) scale(0.8);
    -moz-transform: rotate(720deg) scale(0.8);
  }
}

@keyframes ball1 {
  0% {
    box-shadow: 30px 0 0 #e73854;
  }
  50% {
    box-shadow: 0 0 0 #e73854;
    margin-bottom: 0;
    -webkit-transform: translate(15px, 15px);
    -moz-transform: translate(15px, 15px);
  }
  100% {
    box-shadow: 30px 0 0 #e73854;
    margin-bottom: 10px;
  }
}

@keyframes ball2 {
  0% {
    box-shadow: 30px 0 0 #fff;
  }
  50% {
    box-shadow: 0 0 0 #fff;
    margin-top: -20px;
    -webkit-transform: translate(15px, 15px);
    -moz-transform: translate(15px, 15px);
  }
  100% {
    box-shadow: 30px 0 0 #fff;
    margin-top: 0;
  }
}

/** HEADER **/
.header {
  .dropdown {
    margin-left: 30px;
  }
}

.books {
  .book {
    margin-bottom: 20px;

    .book-title {
      font-size: 1.1rem;

      margin-bottom: 10px;
    }

    .author {
      margin-top: 10px;
      margin-bottom: 5px;
      font-size: 0.9rem;
    }

    img {
      height: 210px;
      width: 100%;
    }
  }
}

.single-book {
  .label {
    margin: 0 4px 10px 0;
  }
}

.contact {
  font-size: 1.1rem;
  line-height: 1.2rem;
  margin-bottom: 20px;

  i {
    color: #e73854;
  }
}

/** SEMANTIC UI OVERRIDES **/
.App .ui {
  .label {
    text-decoration: none;
    align-items: center;
    justify-content: center;
    color: #232e3c;
    background-color: #fff;
    border-color: rgba(101, 109, 119, 0.24);
    border-style: solid;
    border-width: 1px;
    white-space: nowrap;

    &:hover {
      color: #232e3c;
      border-color: #a7abb1;
      background-color: #f4f6fa;
    }
  }

  .pagination.menu {
    padding: 0;
    margin-left: 10px;
  }

  .list > .item > .icon + .content {
    text-align: left;
  }
}

.ui {
  textarea {
    padding-left: 2.67142857em !important;
  }
  .grid.column .book {
    margin-bottom: 20px;
  }
  .form {
    font-size: 1rem;
    line-height: 1.2rem;

    .field {
      margin-bottom: 0.7rem;
    }
  }
  .list {
    a.item {
      color: #e73854;

      &:hover {
        color: #e73854;
        text-decoration: underline;
      }
    }
  }
  p.errors {
    text-align: left;
    margin-bottom: 0rem;
    margin-top: 0.3rem;
    padding-left: 10px;
    font-size: 0.9rem;

    i {
      color: #e73854;
    }
  }
  .input {
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
  }
  .button {
    align-items: center;
    justify-content: center;
    color: #232e3c;
    background-color: #fff;
    border-color: rgba(101, 109, 119, 0.24);
    border-style: solid;
    border-width: 1px;
    white-space: nowrap;
    margin-bottom: 10px;

    &:hover {
      color: #232e3c;
      border-color: #a7abb1;
      background-color: #f4f6fa;
    }
  }
  .label {
    background: #fff;
    color: #fff;
  }
  .dropdown {
    font-size: 1rem;
  }
  .pagination.menu {
    .active.item {
      background-color: #e73854;
      color: #fff;
      outline: none;
    }
  }
}

/** MISC **/
.margin0 {
  margin: 0;
}
