@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Nunito+Sans:ital,wght@0,800;1,400&display=swap");

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f4f6fa;
  font-family: "Montserrat", sans-serif;
  text-rendering: optimizeLegibility;
  font-size: 14px;
  line-height: 1.2rem;
  letter-spacing: 0.5px;
}

a {
  font-size: 14px;
}

.margin0 {
  margin: 0;
}

img {
  width: 100%;
}

.logo img {
  width: auto;
}

/** ANT TAGS **/

.ant-row {
  margin-right: 0 !important;
  margin-left: 0 !important;
  padding: 15px 10px;
}

.ant-col:first-child {
  padding-left: 0 !important;
}

.ant-col:last-child {
  padding-right: 0 !important;
}

.ant-pagination {
  margin-left: 10px;
}

/** NAVIGATION & SIDEBAR **/

.navigation .ant-btn {
  margin-right: 10px;
  padding: 5px 15px;
  background: #e73854;
  border: 1px solid #e73854;
}

.navigation .ant-btn span {
  color: #fff;
}

.navigation .ant-btn i {
  margin-right: 5px;
  color: #fff;
}

.sidebar .ant-badge {
  border: 1px solid #e73854;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 5px;
  background: #e73854;
}

.sidebar .ant-badge a {
  color: #fff;
  letter-spacing: 0.5px;
}

.sidebar .ant-badge-count {
  background: #7d7d7d;
}

/** FORMS **/
.ant-alert {
  margin-bottom: 10px;
}

.errors {
  color: #e73854;
  margin-top: 5px;
  text-align: left;
  padding-left: 10px;
}

.form-column {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 450px;
  height: 70vh;
  text-align: center;
}

.ant-form-item {
  margin-bottom: 10px;
}

.ant-form .ant-btn {
  width: 100%;
  background: #e73854;
  color: #fff;
  border: 1px solid #e73854;
}

/** PRELOADER **/
.loader {
  animation: rotate 1.5s infinite;
  height: 50px;
  width: 50px;
}

.loader:before,
.loader:after {
  border-radius: 50%;
  content: "";
  display: block;
  height: 20px;
  width: 20px;
}
.loader:before {
  animation: ball1 1.5s infinite;
  background-color: #fff;
  box-shadow: 30px 0 0 #fff;
  margin-bottom: 10px;
}
.loader:after {
  animation: ball2 1.5s infinite;
  background-color: #e73854;
  box-shadow: 30px 0 0 #e73854;
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg) scale(0.8);
    -moz-transform: rotate(0deg) scale(0.8);
  }
  50% {
    -webkit-transform: rotate(360deg) scale(1.2);
    -moz-transform: rotate(360deg) scale(1.2);
  }
  100% {
    -webkit-transform: rotate(720deg) scale(0.8);
    -moz-transform: rotate(720deg) scale(0.8);
  }
}

@keyframes ball1 {
  0% {
    box-shadow: 30px 0 0 #e73854;
  }
  50% {
    box-shadow: 0 0 0 #e73854;
    margin-bottom: 0;
    -webkit-transform: translate(15px, 15px);
    -moz-transform: translate(15px, 15px);
  }
  100% {
    box-shadow: 30px 0 0 #e73854;
    margin-bottom: 10px;
  }
}

@keyframes ball2 {
  0% {
    box-shadow: 30px 0 0 #fff;
  }
  50% {
    box-shadow: 0 0 0 #fff;
    margin-top: -20px;
    -webkit-transform: translate(15px, 15px);
    -moz-transform: translate(15px, 15px);
  }
  100% {
    box-shadow: 30px 0 0 #fff;
    margin-top: 0;
  }
}

/** Pages **/

.book-title {
  margin-top: 10px;
}

.book-title i {
  margin-right: 10px;
  color: #e73854;
}

.book-title a {
  color: #e73854;
}

.single-book .ant-rate {
  margin-bottom: 10px;
}

.single-book .ant-btn,
.single-book .tags {
  margin-bottom: 10px;
}
