@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Nunito+Sans:ital,wght@0,800;1,400&display=swap");

// font-family: 'Montserrat', sans-serif;
// font-family: 'Nunito Sans', sans-serif;
body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: #dcdcdc;
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    line-height: 1.2rem;
}

a {
    color: #e73854;

    &:hover {
        color: #e73854;
        text-decoration: underline;
    }
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

/** PRELOADER **/
.loader {
    animation: rotate 1.5s infinite;
    height: 50px;
    width: 50px;
}

.loader:before,
.loader:after {
    border-radius: 50%;
    content: "";
    display: block;
    height: 20px;
    width: 20px;
}
.loader:before {
    animation: ball1 1.5s infinite;
    background-color: #fff;
    box-shadow: 30px 0 0 #fff;
    margin-bottom: 10px;
}
.loader:after {
    animation: ball2 1.5s infinite;
    background-color: #e73854;
    box-shadow: 30px 0 0 #e73854;
}

@keyframes rotate {
    0% {
        -webkit-transform: rotate(0deg) scale(0.8);
        -moz-transform: rotate(0deg) scale(0.8);
    }
    50% {
        -webkit-transform: rotate(360deg) scale(1.2);
        -moz-transform: rotate(360deg) scale(1.2);
    }
    100% {
        -webkit-transform: rotate(720deg) scale(0.8);
        -moz-transform: rotate(720deg) scale(0.8);
    }
}

@keyframes ball1 {
    0% {
        box-shadow: 30px 0 0 #e73854;
    }
    50% {
        box-shadow: 0 0 0 #e73854;
        margin-bottom: 0;
        -webkit-transform: translate(15px, 15px);
        -moz-transform: translate(15px, 15px);
    }
    100% {
        box-shadow: 30px 0 0 #e73854;
        margin-bottom: 10px;
    }
}

@keyframes ball2 {
    0% {
        box-shadow: 30px 0 0 #fff;
    }
    50% {
        box-shadow: 0 0 0 #fff;
        margin-top: -20px;
        -webkit-transform: translate(15px, 15px);
        -moz-transform: translate(15px, 15px);
    }
    100% {
        box-shadow: 30px 0 0 #fff;
        margin-top: 0;
    }
}

/** HEADER **/
.header {
    .dropdown {
        margin-left: 30px;
    }
}

.books {
    .book {
        margin-bottom: 20px;

        img {
            height: 210px;
        }
    }
}

/** SEMANTIC UI OVERRIDES **/
.App .ui {
    .label {
        background: #e73854;
        color: #fff;

        &:hover {
            background-color: #ffffff;
            border-color: #e0e0e0;
            background-image: none;
            color: #000000;
            text-decoration: none;
        }
    }
}

.ui {
    .grid.column .book {
        margin-bottom: 20px;
    }
    .form {
        font-size: 1rem;
        line-height: 1.2rem;

        .field {
            margin-bottom: 0.7rem;
        }
    }
    .list {
        a.item {
            color: #e73854;

            &:hover {
                color: #e73854;
                text-decoration: underline;
            }
        }
    }
    p.errors {
        text-align: left;
        margin-bottom: 0rem;
        margin-top: 0.3rem;
        padding-left: 10px;
        font-size: 0.9rem;

        i {
            color: #e73854;
        }
    }
    .input {
        font-family: "Montserrat", sans-serif;
        font-size: 1rem;
    }
    .button {
        background: #e73854;
        color: #fff;
        margin-bottom: 10px;

        &:hover {
            background-color: #ffffff;
            border-color: #e0e0e0;
            background-image: none;
            color: #000000;
            text-decoration: none;
        }
    }
    .label {
        background: #e73854;
        color: #fff;
    }
    .dropdown {
        font-size: 1rem;
    }
    .pagination.menu {
        .active.item {
            background-color: #e73854;
            color: #fff;
            outline: none;
        }
    }
}

/** MISC **/
.margin0 {
    margin: 0;
}
